* {
  outline: none;
  font-family: "Heebo";
  direction: rtl;
  box-sizing: border-box;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #368e57;
  overflow: hidden;
}

#basad {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #ffffff;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  transition: 100ms all ease;
}

button:active {
  transform: scale(0.95);
}

button a {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: #368e57;
}

#contact-btn {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  border: 1px solid #fff;
  background-color: #368e57;
}

#contact-btn a {
  color: #fff;
  font-size: 0.8rem;
}

.content-container {
  /* border: 1px solid red; */
  /* padding-top: 2rem; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #368e57;
  /* margin-bottom: 10rem; */
}

#logo {
  width: 500px;
}

h1 {
  font-size: 20px;
  margin: 0;
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.options {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5vw, 30vw));
  gap: 1rem;
}

#strech {
  width: 600px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.credit {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  color: #368e57;
}

.social {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.social img {
  width: 50px;
}

#what {
  /* margin-left: -0.5rem; */
  margin-bottom: -1.5px;
  /* border: 1px solid red; */
}

#youtube {
  width: 40px;
  margin-bottom: 4px;
}

.white-box {
  /* height: 4px;
  border: 1px solid red; */
}
.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
    
@keyframes animate-fade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate.pop {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

.delay1 {
  animation-delay: 1.2s;
}
.delay2 {
  animation-delay: 1.4s;
}
.delay3 {
  animation-delay: 1.6s;
}
.delay4 {
  animation-delay: 1.8s;
}
.delay5 {
  animation-delay: 2s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.animate.go-up {
  animation-duration: .7s;
  animation-name: animate-go-up;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-go-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate.go-down {
  animation-duration: .7s;
  animation-name: animate-go-down;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-go-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 545px) {
  .content-container {
    /* margin-top: 3rem; */
  }

  #logo {
    width: 400px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .social img {
    width: 40px;
  }

  #youtube {
    width: 30px;
  }
}

@media screen and (max-width: 475px) {
  .content-container {
    /* margin-top: 9rem; */
  }

  #logo {
    width: 360px;
  }

  h1 {
    font-size: 1rem;
  }

  .social img {
    width: 30px;
  }

  #youtube {
    width: 20px;
  }

  #contact-btn a,
  #basad {
    font-size: 0.6rem;
  }

  .social {
    bottom: 0.6rem;
  }

  .credit {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 366px) {
  #logo {
    width: 320px;
  }
  .social img {
    width: 25px;
  }
  #youtube {
    width: 12.5px;
  }
}

@media screen and (max-width: 324px) {
  #logo {
    width: 290px;
  }
}
